body{
    background:linear-gradient(skyblue,pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;background-color: darkgrey;
    font-family:rubik doodle shadow;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    padding: 6px;
    float: left;
}
    
p{
    color:white;
    font-family: sans-serif;
}

#p2{
   color: tomato; 
}

.odd{
    color: yellow;
    text-decoration:dotted underline;
}

.even{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}
button{
    color:fuchsia;
    background-color: gold;
}
address{
    font-style:inherit;
    font-weight: 900;
}
#p4{
    background: linear-gradient(pink,skyblue);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}


#po1{
    border: 3px solid;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 50px;
    margin: 4px;

    position:relative;
    top: 20px;
    left: 35%;
}
#po2{
    border: 3px solid;
    height: 120px;
    width: 120px;
    background-color: skyblue;
    text-align: center;
    font-size: 50px;
    margin: 4px;

    position:absolute;
    top: 30px;
    left: 70%;


    position: fixed;
    top: 20px;
    left:80%;
    

}
#po3{
    border: 3px solid;
    height: 120px;
    width: 120px;
    background-color: pink;
    text-align: center;
    font-size: 50px;
    margin: 4px;

    position: sticky;
    bottom: 20px;
    left: 20px;

}


#h2{
    text-align: center;
    border-style:outset;
    border-radius: 10px;
/*    border-left-color: cadetblue;
    border-right-color: cadetblue;
    border-top-color: yellow;
    border-bottom-color: yellow;
  
  border-width: 2px;
*/  
}
#box1{
    border-style:hidden;
    border-bottom: 0px ;
    background: linear-gradient(skyblue,pink);
}      
#box2{
    border-top: 0px;
    border-style: hidden;
    background: linear-gradient(pink,skyblue);
}