body{
    background:linear-gradient(#ffd194,#70e1f5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#aDiv{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}
#bDiv{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}
#cDiv{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}
#dDiv{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}
#eDiv{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}
#divResult{
    background: linear-gradient(#70e1f5,#ffd194);
    border-style: ridge;
    border-radius: 5px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
}

